import numpy as np
import pandas as pd
import requests
import math
from scipy import stats
import xlsxwriter
from statistics import mean
import datetime as dt
import yfinance as yf
import pandas_market_calendars as market_calendar
import datetime as dt
import yfinance as yf
from pyalgotrade import strategy as pyalgo_strategy
from pyalgotrade.barfeed import yahoofeed
from pyalgotrade.technical import ma
from pyalgotrade import plotter
from pyalgotrade.stratanalyzer import returns,drawdown,trades,sharpe
from pyalgotrade import strategy